.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.box {
  height: 60px;
  width: 60px;
  padding: 6px;
  background-color: brown;
  margin: 4px;
}

.boxRow {
  background-color: aqua;
  
}